@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #1a7faf;
  --secondary: #409dc4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-raleway);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), system-ui, -apple-system, sans-serif;
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1a7faf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #409dc4;
}
